{% extends '@layout/default.html.twig' %}

{% block title %}Contact Us{% endblock %}
{% block page_title %}{% endblock %}

{% block body_class %}user-form{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-block">
                    <h3>{% trans 'Contact Us' %}</h3>
                    <p>{% trans 'Any issues or good feedback?' %}<br /><br />{% trans 'Write us here and we will get in touch with you as soon as possible.' %}</p>
                    <hr />
                    {{ messagesPartial('partial::alerts') }}
                    <div id="contactUsErrors" class="alert alert-danger contactUsFormErrors" role="alert" {% if recaptchaSiteKey != '' %}style="display:none"{% endif %}>
                        <ul>
                            <li id="contactUsEmptyName" class="contactUsFormErrors" style="display:none">Name is empty.</li>
                            <li id="contactUsEmptyEmail" class="contactUsFormErrors" style="display:none">E-mail is empty.</li>
                            <li id="contactUsEmptyText" class="contactUsFormErrors" style="display:none">Message is empty.</li>
                            <li id="recaptchaSiteKeyEmpty" class="contactUsFormErrors" {% if recaptchaSiteKey != '' %}style="display:none"{% endif %}>reCAPTCHA is empty.</li>
                        </ul>
                    </div>

                    {% set dummy = form.prepare() %}
                    {% set dummy = form.setAttribute('id', 'contact_form') %}
                    {{ form().openTag(form) | raw }}

                    <div class="row">
                        {% set email = form.get('email') %}
                        {% set dummy = email.setAttribute('class', 'form-control') %}
                        {% set dummy = email.setAttribute('id', 'email') %}
                        {% set emailTranslatePlaceholder = email.getAttribute('placeholder')|trans|raw %}
                        {% set dummy = email.setAttribute('placeholder', emailTranslatePlaceholder) %}
                        <div class="col-md-12">
                            {{ formElement(email) }}
                        </div>
                    </div>

                    <div class="row">
                        {% set name = form.get('name') %}
                        {% set dummy = name.setAttribute('class', 'form-control') %}
                        {% set dummy = name.setAttribute('id', 'name') %}
                        {% set nameTranslatePlaceholder = name.getAttribute('placeholder')|trans|raw %}
                        {% set dummy = name.setAttribute('placeholder', nameTranslatePlaceholder) %}
                        <div class="col-md-12">
                            {{ formElement(name) }}
                        </div>
                    </div>

                    <div class="row">
                        {% set message = form.get('message') %}
                        {% set dummy = message.setAttribute('class', 'form-control') %}
                        {% set dummy = message.setAttribute('id', 'message') %}
                        {% set messageTranslatePlaceholder = message.getAttribute('placeholder')|trans|raw %}
                        {% set dummy = message.setAttribute('placeholder', messageTranslatePlaceholder) %}
                        <div class="col-md-12">
                            {{ formElement(message) }}
                        </div>
                    </div>

                    <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"
                         data-callback="submitContactUsForm"
                         data-size="invisible">
                    </div>

                    <input type="submit" id="recaptcha-submit" value="Send message" onclick="validateContactUsForm()">

                    {{ form().closeTag() | raw }}
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
