{% extends '@layout/dual-content.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block dual_additional_class %}
    account-settings
{% endblock %}

{% block dual_content_title %}
    <h1>Account Settings</h1>
{% endblock %}

{% block left_col_size %}
    col-sm-4 col-md-4
{% endblock %}

{% block left_content %}
    {{ navigationPartial('account_side_menu', 'partial::account-sidemenu') }}
{% endblock %}
			
{% block right_col_size %}
    col-sm-8 col-md-8
{% endblock %}

{% block right_content %}
    {{ messagesPartial('partial::alerts') }}
    {{ messagesPartial('partial::alerts', {}, null, 'account') }}

    {% set dummy = form.prepare() %}
    {{ form().openTag(form) | raw }}

    {% include '@partial/form-display-validationgroup.html.twig' with {'form': form, 'showLabels': true} %}

    {{ form().closeTag() | raw }}
{% endblock %}
